<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Trilce - @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/lib/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/metronic/assets/global/css/components.css" rel="stylesheet" />
    <link href="~/lib/metronic/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/metronic/assets/layouts/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/metronic/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/lib/metronic/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/metronic/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/icons/educational-icons/efi.css" rel="stylesheet" />
    <link href="~/icons/educacion-icons-dark/efid.css" rel="stylesheet" />
    <link href="~/lib/awesome-bootstrap-checkbox/demo/build.css" rel="stylesheet" />
    <link href="~/lib/metronic/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/metronic/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/lib/metronic/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
    <script src="~/lib/metronic/assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>  
    <script src="~/js/site.js"></script>  
    @RenderSection("scripts", false)
    <script src="~/lib/checklist-model/checklist-model.js"></script>
    <script src="~/lib/metronic/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.js"></script>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <div class="page-logo">
                    <a asp-controller="App" asp-Action="Index">
                        <img src="~/img/logo_trilce.png" alt="logo" class="logo-default" />
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- User Area -->
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="fa fa-user"></i>
                                    <span class="username username-hide-on-mobile"> @User.Identity.Name </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a asp-controller="Auth" asp-action="ChangePassword">
                                            <i class="icon-key"></i> Password
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Auth" asp-action="Logout">
                                            <i class="icon-logout"></i> Log Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-quick-sidebar-toggler">
                                <a asp-controller="Auth" asp-action="Logout" class="dropdown-toggle">
                                    <i class="icon-logout"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-quick-sidebar-toggler">
                                <a asp-controller="Auth" asp-action="Login" class="dropdown-toggle">
                                    <i class="icon-login"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="page-container">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                        <li class="sidebar-toggler-wrapper hide">
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                        </li>
                        <li class="heading">
                            <h3 class="uppercase">DASHBOARD</h3>
                        </li>
                        <li id="index" class="nav-item">
                            <a asp-controller="App" asp-action="Index" class="nav-link nav-toggle">
                                <i class="efi-home"></i>
                                <span class="title">Home</span>
                            </a>
                        </li>
                        <li class="heading">
                            <h3 class="uppercase">MANTENIMIENTO</h3>
                        </li>
                        @if (User.IsInRole("Administrador"))
                        {
                            <li id="colaboradores" class="nav-item">
                                <a asp-controller="App" asp-action="Colaboradores" class="nav-link nav-toggle">
                                    <i class="efi-user"></i>
                                    <span class="title">Colaboradores</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Administrador") || User.IsInRole("Director"))
                        {
                            <li id="grados" class="nav-item">
                                <a asp-controller="App" asp-action="Grados" class="nav-link nav-toggle">
                                    <i class="efi-mortarboard"></i>
                                    <span class="title">Grados</span>
                                </a>
                            </li>
                            <li id="secciones" class="nav-item">
                                <a asp-controller="App" asp-action="Secciones" class="nav-link nav-toggle">
                                    <i class="efi-science"></i>
                                    <span class="title">Secciones</span>
                                </a>
                            </li>
                            <li id="cursos" class="nav-item">
                                <a asp-controller="App" asp-action="Cursos" class="nav-link nav-toggle">
                                    <i class="efi-book"></i>
                                    <span class="title">Cursos</span>
                                </a>
                            </li>
                            <li id="profesores" class="nav-item">
                                <a asp-controller="App" asp-action="Profesores" class="nav-link nav-toggle">
                                    <i class="efi-presentation-1"></i>
                                    <span class="title">Profesores</span>
                                </a>
                            </li>
                        }
                        <li id="alumnos" class="nav-item">
                            <a asp-controller="App" asp-action="Alumnos" class="nav-link nav-toggle">
                                <i class="efi-user"></i>
                                <span class="title">Alumnos</span>
                            </a>
                        </li>
                        <li class="heading">
                            <h3 class="uppercase">ACADÉMICO</h3>
                        </li>
                        @if (User.IsInRole("Administrador") || User.IsInRole("Director"))
                        {
                            <li id="anios-academicos" class="nav-item">
                                <a asp-controller="App" asp-action="AniosAcademicos" class="nav-link nav-toggle">
                                    <i class="fa fa-calendar-o"></i>
                                    <span class="title">Años Académicos</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Secretaria") || User.IsInRole("Administrador"))
                        {
                            <li id="matriculas" class="nav-item">
                                <a asp-controller="App" asp-action="Matriculas" class="nav-link nav-toggle">
                                    <i class="efi-archive"></i>
                                    <span class="title">Matriculas</span>
                                </a>
                            </li>
                        }                      
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="heading">
                                <h3 class="uppercase">Perfil</h3>
                            </li>
                            <li id="contrasenia" class="nav-item">
                                <a asp-controller="Auth" asp-action="ChangePassword" class="nav-link nav-toggle">
                                    <i class="fa fa-key"></i>
                                    <span class="title">Cambiar contraseña</span>
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
            <div class="page-content-wrapper">
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
            2016 &copy; Colegios Trilce Todos los derechos reservados
        </div>
    </div>
</body>
</html>