<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Trilce - @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="Eddy Wilmer Canaza Tito" />

				<!-- Fuentes -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" /> <!-- Fuentes de Google Fonts -->
				
				<!-- Plugins -->
				<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />		<!-- Bootstrap -->

				<!-- Estilos -->
				<link href="~/css/components.min.css" rel="stylesheet" />	 <!-- Componentes principales -->
				<link href="~/css/layout.min.css" rel="stylesheet" />		<!-- Estilos de la plantilla -->
				<link href="~/css/darkblue.min.css" rel="stylesheet" /> <!-- Estilos del tema -->
				<link href="~/css/login.min.css" rel="stylesheet" /> <!-- Estilos del login -->
</head>
<body class="login">
    <div class="logo">
        <a href="index.html">
            <img src="~/img/logo_trilce.png" alt="logo" class="logo-default" />
        </a>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="copyright"> 2016 © Colegios Trilce Todos los derechos reservados</div>
</body>
</html>