@model Matriculas.ViewModels.CursoProfesorViewModel
@{
    ViewBag.Title = "Cursos";
}
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/angular/app.js"></script>
    <script src="~/js/angular/cursosController.js"></script>
    <script src="~/lib/angular-utils-pagination/dirPagination.js"></script>
}

<script>
    window.onload = function () {
        var item = $("#cursos");
        item.addClass("active");
        $("#cursos a").append("<span class='selected'></span>");
    };
</script>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a asp-contoller="App" asp-action="Index">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Cursos</span>
        </li>
    </ul>
</div>
<h1 class="page-title"></h1>
<div class="row" ng-app="app" ng-controller="cursosController as vm">
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <!-- Tabla de visualización -->
    <div class="col-md-8 col-centered" ng-show="(!vm.errorMessage && !vm.isBusy) ? true : false" ng-cloak>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-table"></i>Lista de cursos
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-icon search-bar">
                            <i class="fa fa-search font-green"></i>
                            <input type="text" class="form-control" placeholder="Buscar" ng-model="search">
                        </div>
                        <div class="input-icon num-pages-bar">
                            <i class="fa fa-reorder font-green"></i>
                            <input type="number" min="1" max="10" class="form-control" ng-model="vm.pageSize">
                        </div>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th class="text-center"><i class="efid-book"></i> Nombre </th>
                                <th class="text-center"><i class="efid-mortarboard"></i> Grado </th>
                                <th class="text-center"><i class="efid-lightbulb"></i> Nivel </th>
                                <th class="text-center"><i class="fa fa-clock-o"></i> Horas Académicas </th>
                                <th class="text-center"> Acciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="curso in vm.cursos|filter:search|itemsPerPage:vm.pageSize">
                                <td>{{ curso.nombre }}</td>
                                <td>{{ curso.grado.nombre }}</td>
                                <td>{{ curso.grado.nivel.nombre }}</td>
                                <td class="text-center">{{ curso.horasAcademicas }}</td>
                                <td class="text-center">
                                    <a ng-click="vm.getCurso(curso.id)" class="btn btn-small yellow-crusta" data-toggle="modal" href="#datos-curso">
                                        <i class="fa fa-edit"></i> Editar
                                    </a>
                                    <a ng-click="vm.deleteCurso(curso.id)" class="btn btn-small red-mint">
                                        <i class="fa fa-trash-o"></i> Eliminar
                                    </a>
                                    <a ng-click="vm.getCursoProfesor(curso.id)" class="btn btn-small blue" data-toggle="modal" href="#datos-curso-profesor">
                                        Asignar profesor
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="asd" class="row">
                    <div class="col-md-2" style="margin-top: 10px;">
                        <a class="btn btn-small green" data-toggle="modal" href="#nuevo-curso"> Nuevo curso </a>
                    </div>
                    <div class="col-md-10 text-right">
                        <dir-pagination-controls max-size="10" auto-hide="false">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!-- Formulario de inserción -->
    <div id="nuevo-curso" data-backdrop="static" class="modal fade" tabindex="-1" data-width="480">
        <div class="modal-header">
            <button type="button" class="close" onclick="cleanForm();" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Nuevo curso</h4>
        </div>
        <div class="modal-body col-md-12">
            <form ng-submit="vm.addCurso()">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Curso.Grado">Grado (*)</label>
                    <span asp-validation-for="Curso.Grado" class="text-muted text-validation"></span>
                    <select asp-for="Curso.Grado" class="form-control" ng-model="vm.newCurso.grado" ng-options="(option.nombre + ' de ' + option.nivel.nombre) for option in vm.grados track by option.id">
                        <option ng-selected="true" value="">Seleccione</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Curso.Nombre">Nombre (*)</label>
                    <span asp-validation-for="Curso.Nombre" class="text-muted text-validation"></span>
                    <input type="text" asp-for="Curso.Nombre" class="form-control" maxlength="25" ng-model="vm.newCurso.nombre" />
                </div>              
                <div class="form-group">
                    <label asp-for="Curso.HorasAcademicas">Horas Académicas (*)</label>
                    <span asp-validation-for="Curso.HorasAcademicas" class="text-muted text-validation"></span>
                    <input type="number" asp-for="Curso.HorasAcademicas" class="form-control" ng-model="vm.newCurso.horasAcademicas" />
                </div>
                <div class="form-group form-buttons">
                    <button type="button" onclick="cleanForm();" data-dismiss="modal" class="btn btn-outline dark">Cancelar</button>
                    <input type="submit" value="Crear curso" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <!-- Formulario de edición -->
    <div id="datos-curso" data-backdrop="static" class="modal fade" tabindex="-1" data-width="480">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Datos curso</h4>
        </div>
        <div class="modal-body col-md-12">
            <form ng-submit="vm.updateCurso()">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Curso.Grado">Grado (*)</label>
                    <span asp-validation-for="Curso.Grado" class="text-muted text-validation"></span>
                    <select asp-for="Curso.Grado" class="form-control" ng-model="vm.currentCurso.grado" ng-options="(option.nombre + ' de ' + option.nivel.nombre) for option in vm.grados track by option.id">
                        <option ng-selected="true" value="">Seleccione</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Curso.Nombre">Nombre (*)</label>
                    <span asp-validation-for="Curso.Nombre" class="text-muted text-validation"></span>
                    <input type="text" asp-for="Curso.Nombre" class="form-control" maxlength="25" ng-model="vm.currentCurso.nombre" />
                </div>
                <div class="form-group">
                    <label asp-for="Curso.HorasAcademicas">Horas Académicas (*)</label>
                    <span asp-validation-for="Curso.HorasAcademicas" class="text-muted text-validation"></span>
                    <input type="number" asp-for="Curso.HorasAcademicas" class="form-control" ng-model="vm.currentCurso.horasAcademicas" />
                </div>
                <div class="form-group form-buttons">
                    <button type="button" data-dismiss="modal" class="btn btn-outline dark">Cancelar</button>
                    <input type="submit" value="Actualizar curso" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <!-- Formulario de asignación de profesor -->
    <div id="datos-curso-profesor" data-backdrop="static" class="modal fade" tabindex="-1" data-width="480">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Datos curso</h4>
        </div>
        <div class="modal-body col-md-12">
            <form ng-submit="vm.updateProfesor()">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Curso.Grado">Grado (*)</label>
                    <span asp-validation-for="Curso.Grado" class="text-muted text-validation"></span>
                    <select asp-for="Curso.Grado" disabled class="form-control" ng-model="vm.currentCurso.grado" ng-options="(option.nombre + ' de ' + option.nivel.nombre) for option in vm.grados track by option.id">
                        <option ng-selected="true" value="">Seleccione</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Curso.Nombre">Nombre (*)</label>
                    <span asp-validation-for="Curso.Nombre" class="text-muted text-validation"></span>
                    <input type="text" disabled asp-for="Curso.Nombre" class="form-control" maxlength="25" ng-model="vm.currentCurso.nombre" />
                </div>
                <div class="form-group">
                    <label asp-for="Curso.HorasAcademicas">Horas Académicas (*)</label>
                    <span asp-validation-for="Curso.HorasAcademicas" class="text-muted text-validation"></span>
                    <input type="number" disabled asp-for="Curso.HorasAcademicas" class="form-control" ng-model="vm.currentCurso.horasAcademicas" />
                </div>
                <div class="form-group">
                    <label asp-for="Profesor.Id">Profesor</label>
                    <span asp-validation-for="Profesor.Id" class="text-muted text-validation"></span>
                    <select asp-for="Profesor.Id" class="form-control" ng-model="vm.currentProfesor" ng-options="(option.apellidoPaterno + ' ' + option.apellidoMaterno + ', ' + option.nombres) for option in vm.profesores track by option.id">
                        <option ng-selected="true" value="">Seleccione</option>
                    </select>
                </div>
                <div class="form-group form-buttons">
                    <button type="button" data-dismiss="modal" class="btn btn-outline dark">Cancelar</button>
                    <input type="submit" value="Actualizar profesor" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>