@model Matriculas.ViewModels.MatriculaAlumnoViewModel
@{
    ViewBag.Title = "Matriculas";
}
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/angular/app.js"></script>
    <script src="~/js/angular/matriculasController.js"></script>
    <script src="~/lib/angular-utils-pagination/dirPagination.js"></script>
}

<script>
    window.onload = function () {
        var item = $("#matriculas");
        item.addClass("active");
        $("#matriculas a").append("<span class='selected'></span>");
    };
</script>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a asp-contoller="App" asp-action="Index">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Matriculas</span>
        </li>
    </ul>
</div>

<h1 class="page-title"></h1>

<div class="row" ng-app="app" ng-controller="matriculasController as vm">
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <!-- Tabla de visualización -->
    <div class="col-md-8 col-centered" ng-show="(!vm.errorMessage && !vm.isBusy) ? true : false" ng-cloak>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-table"></i>Lista de matrículas
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-icon search-bar">
                            <i class="fa fa-search font-green"></i>
                            <input type="text" class="form-control" placeholder="Buscar" ng-model="search">
                        </div>
                        <div class="input-icon num-pages-bar">
                            <i class="fa fa-reorder font-green"></i>
                            <input type="number" min="1" max="10" class="form-control" ng-model="vm.pageSize">
                        </div>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th class="text-center"><i class="fa fa-user"></i> Apellidos y nombres </th>
                                <th class="text-center"><i class="fa fa-credit-card"></i> Dni </th>
                                <th class="text-center"><i class="fa fa-venus-mars"></i> Grado </th>
                                <th class="text-center"><i class="fa fa-location-arrow"></i> Sección </th>
                                <th class="text-center"> Acciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="matricula in vm.matriculas|filter:search|itemsPerPage:vm.pageSize">
                                <td>{{ matricula.alumno.apellidoPaterno }} {{matricula.alumno.apellidoMaterno}}, {{matricula.alumno.nombres}}</td>
                                <td class="text-center">{{ matricula.alumno.dni }}</td>
                                <td class="text-center">{{ matricula.seccion.grado.nombre }} de {{ matricula.seccion.grado.nivel.nombre}}</td>
                                <td class="text-center">{{ matricula.seccion.nombre }}</td>
                                <td class="text-center">
                                    <a ng-href="Matriculas/ReporteMatricula/{{matricula.alumno.dni}}" target="_blank" class="btn btn-small red">
                                        <i class="fa fa-file-pdf-o"></i> Exportar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="asd" class="row">
                    <div class="col-md-2" style="margin-top: 10px;">
                        <a class="btn btn-small green" data-toggle="modal" href="#nueva-matricula" ng-click="vm.enablePdf = false;"> Nueva matrícula </a>
                    </div>
                    <div class="col-md-10 text-right">
                        <dir-pagination-controls max-size="10" auto-hide="false">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Formulario de inserción -->
    <div id="nueva-matricula" data-backdrop="static" class="modal fade" tabindex="-1" data-width="1200">
        <div class="modal-header">
            <button type="button" class="close reset" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Nueva matrícula</h4>
        </div>
        <div class="modal-body col-md-12">
            <div class="col-md-12">
                <form ng-submit="vm.getAlumno(vm.currentDni)">
                    <div class="col-md-12">
                        <div class="input-icon search-bar">
                            <i class="fa fa-search font-green"></i>
                            <input type="text" class="form-control" maxlength="8" lplaceholder="Buscar" ng-model="vm.currentDni">
                        </div>
                        <div class="toggle-right">
                            <label class="toggle-title">Editable:</label>
                            <input type="checkbox" id="toggle-button" name="custom-toggle" class="toggle red">
                        </div>
                    </div>        
                </form>             
            </div>
            <form id="form-matricula" ng-submit="vm.addMatricula()">
                <div class="col-md-9">
                    <div class="col-md-6">
                        <div class="form-group"><h4 class="modal-title">Datos del alumno</h4></div>
                        <div class="form-group">
                            <label asp-for="Alumno.ApellidoPaterno">Apellido Paterno (*)</label>
                            <span asp-validation-for="Alumno.ApellidoPaterno" class="text-muted text-validation text-validation"></span>
                            <input type="text" asp-for="Alumno.ApellidoPaterno" class="form-control" maxlength="25" ng-model="vm.newMatricula.alumno.apellidoPaterno" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Alumno.ApellidoMaterno">Apellido Materno (*)</label>
                            <span asp-validation-for="Alumno.ApellidoMaterno" class="text-muted text-validation"></span>
                            <input type="text" asp-for="Alumno.ApellidoMaterno" class="form-control" maxlength="25" ng-model="vm.newMatricula.alumno.apellidoMaterno" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Alumno.Nombres">Nombres (*)</label>
                            <span asp-validation-for="Alumno.Nombres" class="text-muted text-validation"></span>
                            <input type="text" asp-for="Alumno.Nombres" class="form-control" maxlength="50" ng-model="vm.newMatricula.alumno.nombres" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Alumno.Dni">DNI (*)</label>
                            <span asp-validation-for="Alumno.Dni" class="text-muted text-validation"></span>
                            <input type="text" asp-for="Alumno.Dni" class="form-control" maxlength="8" placeholder="Ej. 71079379" ng-model="vm.newMatricula.alumno.dni" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Alumno.Sexo">Sexo (*)</label>
                            <span asp-validation-for="Alumno.Sexo" class="text-muted text-validation"></span>
                            <select asp-for="Alumno.Sexo" class="form-control" ng-model="vm.newMatricula.alumno.sexo">
                                <option ng-selected="true" value="">Seleccione</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Alumno.Direccion">Dirección (*)</label>
                            <span asp-validation-for="Alumno.Direccion" class="text-muted text-validation"></span>
                            <input type="text" asp-for="Alumno.Direccion" class="form-control" maxlength="70" ng-model="vm.newMatricula.alumno.direccion" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Alumno.FechaNacimiento">Fecha de Nacimiento (*)</label>
                            <span asp-validation-for="Alumno.FechaNacimiento" class="text-muted text-validation"></span>
                            <input type="date" asp-for="Alumno.FechaNacimiento" class="form-control" ng-model="vm.newMatricula.alumno.fechaNacimiento" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group"><h4 class="modal-title">Datos del apoderado</h4></div>
                        <div class="form-group">
                            <label asp-for="Apoderado.ApellidoPaterno">Apellido Paterno (*)</label>
                            <span asp-validation-for="Apoderado.ApellidoPaterno" class="text-muted text-validation"></span>
                            <input type="text" asp-for="Apoderado.ApellidoPaterno" class="form-control" maxlength="25" ng-model="vm.newMatricula.alumno.apoderado.apellidoPaterno" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Apoderado.ApellidoMaterno">Apellido Materno (*)</label>
                            <span asp-validation-for="Apoderado.ApellidoMaterno" class="text-muted text-validation"></span>
                            <input type="text" asp-for="Apoderado.ApellidoMaterno" class="form-control" maxlength="25" ng-model="vm.newMatricula.alumno.apoderado.apellidoMaterno" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Apoderado.Nombres">Nombres (*)</label>
                            <span asp-validation-for="Apoderado.Nombres" class="text-muted text-validation"></span>
                            <input type="text" asp-for="Apoderado.Nombres" class="form-control" maxlength="50" ng-model="vm.newMatricula.alumno.apoderado.nombres" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Apoderado.Dni">DNI (*)</label>
                            <span asp-validation-for="Apoderado.Dni" class="text-muted text-validation"></span>
                            <input type="text" asp-for="Apoderado.Dni" class="form-control" maxlength="8" placeholder="Ej. 71079379" ng-model="vm.newMatricula.alumno.apoderado.dni" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Apoderado.Sexo">Sexo (*)</label>
                            <span asp-validation-for="Apoderado.Sexo" class="text-muted text-validation"></span>
                            <select asp-for="Apoderado.Sexo" class="form-control" ng-model="vm.newMatricula.alumno.apoderado.sexo">
                                <option ng-selected="true" value="">Seleccione</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Apoderado.EstadoCivil">Estado Civil (*)</label>
                            <span asp-validation-for="Apoderado.EstadoCivil" class="text-muted text-validation"></span>
                            <select asp-for="Apoderado.EstadoCivil" class="form-control" ng-model="vm.newMatricula.alumno.apoderado.estadoCivil">
                                <option ng-selected="true" value="">Seleccione</option>
                                <option value="S">Soltero</option>
                                <option value="C">Casado</option>
                                <option value="V">Viudo</option>
                                <option value="D">Divorciado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h4 class="modal-title">Datos del grado</h4>
                    </div>
                    <div class="form-group">
                        <label>Pasado</label>
                        <input type="text" id="current-grado" class="form-control" ng-model="vm.currentGrado"/>
                    </div>
                    <div class="form-group">
                        <label>Actual (*)</label>
                        <select class="form-control" ng-model="vm.newMatricula.grado" ng-options="(option.nombre + ' de ' + option.nivel.nombre) for option in vm.grados track by option.id">
                            <option ng-selected="true" value="">Seleccione</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 form-buttons">
                        <a class="btn btn-small red export-file" ng-show="vm.enablePdf" ng-href="Matriculas/ReporteMatricula/{{vm.currentAlumnoDni}}" target="_blank">
                            <i class="fa fa-file-pdf-o"></i> Exportar
                        </a>
                    </div>
                    <div class="form-buttons form-group">
                        <button type="button" data-dismiss="modal" class="btn btn-outline dark reset">Cancelar</button>
                        <input type="submit" value="Registrar matrícula" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>