@model Matriculas.ViewModels.SeccionViewModel
@{
    ViewBag.Title = "Secciones";
}
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/angular/app.js"></script>
    <script src="~/js/angular/seccionesController.js"></script>
    <script src="~/lib/angular-utils-pagination/dirPagination.js"></script>
}

<script>
    window.onload = function () {
        var item = $("#secciones");
        item.addClass("active");
        $("#secciones a").append("<span class='selected'></span>");
    };
</script>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a asp-contoller="App" asp-action="Index">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Secciones</span>
        </li>
    </ul>
</div>
<h1 class="page-title"></h1>
<div class="row" ng-app="app" ng-controller="seccionesController as vm">
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <!-- Tabla de visualización -->
    <div class="col-md-5 col-centered" ng-show="(!vm.errorMessage && !vm.isBusy) ? true : false" ng-cloak>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-table"></i>Lista de secciones
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-icon search-bar">
                            <i class="fa fa-search font-green"></i>
                            <input type="text" class="form-control" placeholder="Buscar" ng-model="search">
                        </div>
                        <div class="input-icon num-pages-bar">
                            <i class="fa fa-reorder font-green"></i>
                            <input type="number" min="1" max="10" class="form-control" ng-model="vm.pageSize">
                        </div>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th class="text-center"><i class="efid-mortarboard"></i> Grado </th>
                                <th class="text-center"><i class="fa fa-puzzle-piece"></i> Nombre </th>
                                <th class="text-center"><i class="efid-lightbulb"></i> Nivel </th>
                                <th class="text-center"> Acciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="seccion in vm.secciones|filter:search|itemsPerPage:vm.pageSize">                            
                                <td>{{ seccion.grado.nombre }}</td>
                                <td class="text-center">{{ seccion.nombre }}</td>
                                <td>{{ seccion.grado.nivel.nombre }}</td>
                                <td class="text-center">
                                    <a ng-click="vm.getSeccion(seccion.id)" class="btn btn-small yellow-crusta" data-toggle="modal" href="#datos-seccion">
                                        <i class="fa fa-edit"></i> Editar
                                    </a>
                                    <a ng-click="vm.deleteSeccion(seccion.id)" class="btn btn-small red-mint">
                                        <i class="fa fa-trash-o"></i> Eliminar
                                    </a>
                                    <a ng-href="Secciones/ReporteLista/{{seccion.id}}" target="_blank" class="btn btn-small btn-primary">
                                        Ver Lista
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="asd" class="row">
                    <div class="col-md-2" style="margin-top: 10px;">
                        <a class="btn btn-small green" data-toggle="modal" href="#nuevo-seccion"> Nueva sección </a>
                    </div>
                    <div class="col-md-10 text-right">
                        <dir-pagination-controls max-size="10" auto-hide="false">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Formulario de inserción -->
    <div id="nuevo-seccion" data-backdrop="static" class="modal fade" tabindex="-1" data-width="480">
        <div class="modal-header">
            <button type="button" class="close reset" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Nueva sección</h4>
        </div>
        <div class="modal-body col-md-12">
            <form ng-submit="vm.addSeccion()">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Id" value="{{vm.newSeccion.id}}" />
                <div class="form-group">
                    <label asp-for="Grado">Grado (*)</label>
                    <span asp-validation-for="Grado" class="text-muted text-validation"></span>
                    <select asp-for="Grado" class="form-control" ng-model="vm.newSeccion.grado" ng-options="(option.nombre + ' de ' + option.nivel.nombre) for option in vm.grados track by option.id">
                        <option ng-selected="true" value="">Seleccione</option>
                    </select>                   
                </div>
                <div class="form-group">
                    <label asp-for="Nombre">Nombre (*)</label>
                    <span asp-validation-for="Nombre" class="text-muted text-validation"></span>
                    <input type="text" asp-for="Nombre" class="form-control" maxlength="1" placeholder="Ej. A" ng-model="vm.newSeccion.nombre" />                   
                </div>               
                <div class="form-group form-buttons">
                    <button type="button" data-dismiss="modal" class="btn btn-outline dark reset">Cancelar</button>
                    <input type="submit" value="Crear sección" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <!-- Formulario de edición -->
    <div id="datos-seccion" data-backdrop="static" class="modal fade" tabindex="-1" data-width="480">
        <div class="modal-header">
            <button type="button" class="close cancel" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Datos sección</h4>
        </div>
        <div class="modal-body col-md-12">
            <form ng-submit="vm.updateSeccion()">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Id" value="{{vm.currentSeccion.id}}" />
                <div class="form-group">
                    <label asp-for="Grado">Grado (*)</label>
                    <span asp-validation-for="Grado" class="text-muted text-validation"></span>
                    <select asp-for="Grado" class="form-control" ng-model="vm.currentSeccion.grado" ng-options="(option.nombre + ' de ' + option.nivel.nombre) for option in vm.grados track by option.id">
                        <option ng-selected="true" value="">Seleccione</option>
                    </select>                  
                </div>
                <div class="form-group">
                    <label asp-for="Nombre">Nombre (*)</label>
                    <span asp-validation-for="Nombre" class="text-muted text-validation"></span>
                    <input type="text" asp-for="Nombre" class="form-control" maxlength="1" placeholder="Ej. A" ng-model="vm.currentSeccion.nombre" />              
                </div>            
                <div class="form-group form-buttons">
                    <button type="button" data-dismiss="modal" class="btn btn-outline dark cancel">Cancelar</button>
                    <input type="submit" value="Actualizar sección" class="btn btn-success" />
                </div>
            </form> 
        </div>
    </div>
</div>