.selected {
    margin-top: 2.5px;
}

.page-content {
    height: calc(100vh - 85px);
    overflow: auto;
}

.page-footer {
    height: 35px;
    display: block;
}

.form-buttons {
    text-align: right;
    margin-top: 30px;
}
.form-buttons button, 
.form-buttons input[type="submit"] {
    margin-left: 15px;
}

.form-buttons input[type="submit"] {
    margin-right: 0;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
  background-color: #32C5D2;
  border-color: #32C5D2;
  color: white;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

div.checkbox {
    line-height: 18px;
}

.modal-body {
    box-sizing: border-box;
    padding: 30px 50px 20px;
}

.cursos-area:first-child {
    border-right: 1px solid RGB(194,202,216);
    border-left: 1px solid RGB(194,202,216);
}
.cursos-area:last-child {
    border-right: 1px solid RGB(194,202,216);
}

.checkbox {
	margin-left: 15px;
}

.checkbox:hover, input[type="checkbox"]:hover {
    cursor: pointer;
}

.row.equalheights {
    overflow: hidden; 
}

.row.equalheights > [class*="col-"],
.row.equalheights > .equalheights > [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.cursos-area .panel-body {
    padding-top: 0;
    padding-bottom: 0;
}

.cursos-area .panel-heading > .panel-title {
    font-size: 0.95em;
}

.col-centered { 
    float: none;
    margin: 0 auto;
}

.text-validation {
    color: #e43a45 ;
    font-size: 0.9em;
    font-weight: 500;
    display: inline-block;
}

.search-bar {
    display: inline-block;
    width: 200px;
}

.toggle-right {
    display: inline-block;
    float: right;
    vertical-align: middle;
}

.toggle-title {
    font-weight: lighter;
    font-size: 15px;
    margin-right: 10px;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-retroorange,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-retroorange {
    color: #fff;
    background: #32C5D2;
}

.input-icon.num-pages-bar {
    display: inline-block;
    width: 85px;
    float: right;
}

.title-grado {
    display: block;
}


.button-search-bar{
    text-align: left;
}

#nueva-matricula .search-bar {
    margin-bottom: 20px;   
}

.export-file {
    float: left;
}

