.selected {
  margin-top: 2.5px; }

.page-content {
  height: calc(100vh - 85px);
  overflow: auto; }

.page-footer {
  height: 35px;
  display: block; }

.form-buttons {
  text-align: right;
  margin-top: 30px; }

.form-buttons button,
.form-buttons input[type="submit"] {
  margin-left: 15px; }

.form-buttons input[type="submit"] {
  margin-right: 0; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #32C5D2;
  border-color: #32C5D2;
  color: white; }

.table > tbody > tr > td {
  vertical-align: middle; }

div.checkbox {
  line-height: 18px; }

.modal-body {
  box-sizing: border-box;
  padding: 30px 50px 20px; }

.cursos-area:first-child {
  border-right: 1px solid RGB(194, 202, 216);
  border-left: 1px solid RGB(194, 202, 216); }

.cursos-area:last-child {
  border-right: 1px solid RGB(194, 202, 216); }

.checkbox:hover, input[type="checkbox"]:hover {
  cursor: pointer; }

.row.equalheights {
  overflow: hidden; }

.row.equalheights > [class*="col-"],
.row.equalheights > .equalheights > [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px; }

.cursos-area .panel-body {
  padding-top: 0;
  padding-bottom: 0; }

.cursos-area .panel-heading > .panel-title {
  font-size: 0.95em; }

.col-centered {
  float: none;
  margin: 0 auto; }

.text-validation {
  color: #e43a45;
  font-size: 0.9em;
  font-weight: 500;
  display: inline-block; }

.form-group label {
  margin-right: 10px; }

.search-bar {
  display: inline-block;
  width: 200px;
  float: left; }

.input-icon.num-pages-bar {
  display: inline-block;
  width: 85px;
  float: right; }

.title-grado {
  display: block; }

.wizard {
  margin: 20px auto; }
  .wizard > div.wizard-inner {
    position: relative; }
    .wizard > div.wizard-inner > .connecting-line {
      height: 1px;
      background: #e0e0e0;
      position: absolute;
      width: 75%;
      margin: 0 auto;
      left: 10px;
      right: 0px;
      top: 40%;
      z-index: 1; }
  .wizard .nav-tabs > li > a,
  .wizard .nav-tabs > li > a:hover,
  .wizard .nav-tabs > li.active > a:focus {
    border: 0;
    background-color: transparent; }

span.round-tab {
  display: inline-block;
  z-index: 2;
  position: absolute; }

.wizard li.active span.round-tab {
  background: #fff; }

.wizard li.active span.circle {
  background-color: #32C5D2; }

.wizard li.active span.step-title {
  color: #32C5D2; }

.wizard .nav-tabs > li {
  width: 25%; }

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #32C5D2; }

.wizard .nav-tabs > li a {
  width: 50px;
  height: 55px;
  margin: 10px auto;
  border-radius: 100%;
  padding: 0; }

.wizard .tab-pane {
  position: relative;
  padding-top: 10px; }

.wizard h3 {
  margin-top: 0; }

.step1 .row {
  margin-bottom: 10px; }

.step_21 {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px; }

.step33 {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px; }

.dropselectsec {
  width: 68%;
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  outline: none;
  font-weight: normal; }

.dropselectsec1 {
  width: 74%;
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  outline: none;
  font-weight: normal; }

.mar_ned {
  margin-bottom: 10px; }

.wdth {
  width: 25%; }

.birthdrop {
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  width: 16%;
  outline: 0;
  font-weight: normal; }

/* according menu */
#accordion-container {
  font-size: 13px; }

.accordion-header {
  font-size: 13px;
  background: #ebebeb;
  margin: 5px 0 0;
  padding: 7px 20px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.unselect_img {
  width: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.active-header {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #F53B27; }
  .active-header:after {
    content: "\f068";
    font-family: 'FontAwesome';
    float: right;
    margin: 5px;
    font-weight: 400; }

.inactive-header {
  background: #333; }
  .inactive-header:after {
    content: "\f067";
    font-family: 'FontAwesome';
    float: right;
    margin: 4px 5px;
    font-weight: 400; }

.accordion-content {
  display: none;
  padding: 20px;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-top: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }
  .accordion-content a {
    text-decoration: none;
    color: red; }
  .accordion-content td {
    border-bottom: 1px solid #dcdcdc; }

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  margin-top: -5px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background-color: #dcdcdc;
  vertical-align: middle; }

.step-title {
  display: inline-block;
  font-size: .7em;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  margin-top: 0px;
  color: #ccc; }

.matricula-buscar-alumno {
  margin-bottom: 0px; }
  .matricula-buscar-alumno .search-bar {
    width: 200px;
    display: inline-block;
    margin-bottom: 20px; }
  .matricula-buscar-alumno span {
    margin-top: 8px;
    margin-left: 15px; }

.tab-pane .modal-body {
  padding: 0; }

.tab-content {
  display: block;
  padding-top: 10px; }

.desaprobado {
  color: red; }

.model-state .text-validation {
  display: block; }

