
@model Matriculas.ViewModels.LoginViewModel
@{
				Layout = "~/Views/Shared/_LayoutAuth.cshtml";
				ViewBag.Title = "Login";
}

@Html.ValidationSummary(true)
<form class="login-form" method="post">
    @if (!ViewData.ModelState.IsValid)
            {
        <div class="alert alert-danger model-state">
            <button class="close" data-close="alert"></button>
            <span class="text-validation">@Html.ValidationMessage("UsernamePasswordIncorrecto")</span>
            <span class="text-validation">@Html.ValidationMessage("CuentaBloqueada")</span>
        </div>
    }
    <h3 class="form-title font-green">Sign In</h3>
    <div class="form-group">
        <input asp-for="UserName" class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" />
        <span class="text-muted text-validation" asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" onkeypress="if(event.keyCode==13) {javascript:form.submit();}" />
        <span class="text-muted text-validation" asp-validation-for="Password"></span>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn green uppercase" value="Login">
    </div>
</form> 